/*=========== BACKGROUND COLOR ================ */
.header-btn > a,
.some-detail > i,
.some-detail > a,
.attorney-intro > h3 a,
.theme-btn,
.single-attorney-detail > strong span,
.socail-btns > li > a::before,
.heading h2::before,
.tab-head-info > ul > li a::before,
.team-circle-info,
.heading2:before,
.toggle-item.activate > h2,
.theme-tabs .tab-content ul li::before,
.news-bar > strong,
.news > span::before,
.contact-info > span,
.heading3 > h3::before,
.widget-practice > form > button,
.features-box > h3::before,
.features-box > a,
.counter > strong::before,
.counter > strong::after,
.attorney-fancy .social-icons a:hover,
.team-contact-form > h3::before,
.show-rights,
.sidebar .widget-title::after,
.testimonial-sec .nav-tabs > li a::before,
.testimonial-info > span i,
.owl-dots .owl-dot.active,
.header-social > a,
.video-wide-info > a,
.quick-contact > i:after,
.about-us-page.dark .toggle-item.activate > h2,
.slide-closer,
.subscribe-modal > form > button,
.popup-close,
.coloured-box,
.slide-border,
.slide-button:hover,
.slide-button.coloured,
.fancybar,
.slide-icon,
.schedule-carousal .owl-nav > div:hover,
.service:hover h4:before,
.service:hover h4:after,
.study-img > a,
.ribbon-design,
.price-table.active:before,
.pointer span,
.title-hover > a:hover
{
    background-color:#ec4933;
}

/*=========== TEXT COLOR ================ */
.some-detail > span > i,
.service:hover h4,
.socail-btns > li > a::before,
.theme-tabs .nav li.active a,
.theme-tabs .nav li.active a i,
.rating-detailed > span.star--on,
.news > span strong,
.video > a i,
.contact-info > p > i,
.about-widget > h4,
.footer-post > i,
.twitter-widget li > i,
.widget-practice > ul > li > a:hover,
.widget-practice > ul > li > a:hover:before,
.simple-title > h2,
.attorney-fancy > span,
header.mini-fixed > nav > ul > li.active > a > span,
.contact-box > span,
.contact-lawyer span,
.contact-us-page.dark .info-list > ul li i,
.widget-post-detail > span,
.widget li a:hover,
.practice > a,
.tweet > p a,
.lawyer-detail > span,
.comment-options > h6 a,
.law > h4 a:hover,
nav li.menu-item-has-children ul li a:hover,
.about-block h3,
.testimonial-info > h3 span,
.option-combo ul li a.selected,
nav > ul li:hover a,
.menu-bar.style2 nav > ul > li:hover >  a,
.laws .law h4 a:hover,
.news > span a:hover,
.news h3 a:hover,
.case-study h3 a:hover,
.footer-post > h3 a:hover,
.business-hours > span strong,
.subscribe-modal > h4,
.slide-heading i,
.slide6-title i,
.slide-button,
.slide-button.coloured:hover,
.schedule-carousal li h3,
.schedule-carousal li i,
.slide-opener:hover,
.wide-tabs > ul > li.active a,
.study-img > a:hover,
.awards > h4 i,
.price-category > span i,

.wanky_pages.light-theme > .mini-fixed li.active a span,
.title-hover > h3:hover
{
    color: #ec4933;
}


/*=========== BORDERS COLOR ================ */
.header-btn > a,
.option-combo ul li a::after,
.option-combo ul li a::before,
.theme-tabs .nav li.active a,
.theme-tabs .nav li a::before,
.award-box:hover,
.owl-dots .owl-dot.active,
.header-social > a,
header.mini-fixed > nav > ul > li.active > a::before,
.laws.light .law > h4 a:hover i,
.about-us-page.dark .theme-tabs .nav.nav-tabs li.active a,

.pointer
{
    border-color: #ec4933; 
}
