@media (max-width:1200px){
.team-image.overlape {
    margin-top: -170px;
}



} 


@media (max-width:980px){
.some-detail > span {
    font-size: 15px;
}	
.some-detail > h4{
	font-size: 15px; 
}
.some-detail > a {
    font-size: 11px;
    padding: 13px 20px;
}
.tab-head-info {
    margin-bottom: 100px;
}
.team-contact-form {
    margin-bottom: 60px;
}
.block .container,.container {padding: 0 15px;}
.column {float: left;width: 100%;margin-bottom:40px;}
.column:last-child{margin-bottom: 0;}
.responsive-header{display:block;}
header {
    display: none;
    height: 0;
}body.move{margin-left:-200px;}
.all-services h2, .all-services p {margin: 0 0 30px;padding: 0;width: 100%;}
.service-grids .row > div {float: left;width: 50%;}
.reviews .nav {float: left;margin: 0 0 30px; width: 100%;}
.reviews .nav li {margin: 0 20px;}
.reviews .tab-content {width: 100%;}
.fun-facts .row > div {float: left;width: 50%;}
.latest-news > div {float: left;width: 50%;}
.widget.full-bg {margin: 0;}
.white-boxed {padding: 40px;}
.experience-title:after{display: none;}
.experience-bar ul {padding: 30px 0;}
.review-detail {text-align: center;}
.review-detail .theme-btn {display: inline-block; float: none;}
.responsive-header .header-info, 
.responsive-header .header-btn {max-width: none;padding: 10px 0;text-align: center;width: 100%;}
.responsive-header .header-btn a {display: inline-block;float: none;}
.single-attorney-img {width: 100%;}
.single-attorney-detail {width: 100%;}
.option-combo ul li {float: left;margin: 0 0 10px;padding: 0 10px;width: 50%;}
.option-combo ul li a {width: 100%;}
.case-studies > div {float: left;width: 50%;}
.contact-img {width: 50%;}
.contact-img img {width: 100%;}
.contact-form .row > div {float: left;width: 100%;}
.get-consultation {float: left;margin-bottom: 40px;width: 100%;}
.laws .row > div {float: left;width: 50%;}
.custom-content-text {padding-left: 50px;}
.custom-content-img {width: 50%;}
.custom-content-img img {width: 100%;}
.awards .row > div {float: left;width: 50%;}
.career-img {float: left;width: 100%;}
.career-detial {float: left; padding: 30px 0;width: 100%;}
.features-box-sec {
    min-height: 274px;
}
.features-box {
    padding: 0 50px;
}
.features-box > h3 {
    font-size: 21px;
}
.team-contact-form > h3 {
    font-size: 20px;
}
.video-wide {
    margin: 0;
    width: 100%;
}
.features-box > p {
    width: 100%;
}
.get-in-touch > form > div > input {
    width: 80%;
}
.fixed-bottom nav ul li a {
    color: #fafafa;
    font-size: 11px;
    padding-left: 15px;
    padding-right: 15px;
}
.window {
    left: 50% !important;
    padding: 10px;
    width: 98% !important;
}
.testimonial-sec .nav-tabs > li.active a::before {
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
} 
.wide-info > span {
    float: left;
    width: 100%;
}
.wide-info > .about-block {
    padding-bottom: 110px;
    width: 100%;
}
.wide-tabs > ul > li {
    border-bottom: 1px solid #6f6f6f;
    float: left;
    padding: 0 50px;
    text-align: center;
    width: 100%;
}
.wide-tabs > ul > li > a {
    border: medium none;
    float: left;
    width: 100%;
}
.wide-tabs > ul > li > a {
    font-size: 14px;
    padding: 17px 0;
}
.wide-tabs > ul > li {
    padding: 0;
}
.split-page.cut-off-page {
    width: 100% !important;
    height: 50% !important;
}
.split-content.show-content {
    width: 100% !important;
    left: 0;
    height: 50% !important;
    top: 50% !important;
    min-height: 50% !important;
    position: fixed;
}



}


@media (max-width:767px){
.split-content.show-content {
    width: 100% !important;
    left: 0;
    height: 50% !important;
    top: 50% !important;
    min-height: 50% !important;
    position: fixed;
}    
.split-page.cut-off-page {
    width: 100% !important;
    height: 50% !important;
}    
.testimonial-sec .nav-tabs > li.active a::before {
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -ms-transform: scale(5);
    -o-transform: scale(5);
    transform: scale(5);
}    
.consult-popup {
    width: 98%;
}    
.window {
    left: 50% !important;
    padding: 10px;
    width: 98% !important;
}  
.header-top .wanky_pages .wanky_page .container {
    padding-left: 65px;
    padding-right: 20px;
}	
.logo-contact .logo {
    float: left;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
}
.contact-box {
    text-align: center;
    width: 100%;
}
.contact-box > span {
    width: 100%;
}
.video-wide-info > h3 {
    font-size: 20px;
}	
.some-detail {
    float: left;
    padding: 50px 0;
    position: static;
    
    -webkit-transform: rotate(0deg) translate(0px);
    -moz-transform: rotate(0deg) translate(0px);
    -ms-transform: rotate(0deg) translate(0px);
    -o-transform: rotate(0deg) translate(0px);
    transform: rotate(0deg) translate(0px);
    
    width: 100%;
}	
.heading h2 {
    font-size: 23px;
}
.about-us-wide > h3 {
    font-size: 18px;
    line-height: 30px;
}	
.about-us-wide > p {
    padding: 0;
}
.block .container,.container {padding: 0 15px;}
.column {float: left;width: 100%;margin-bottom: 40px;}
.column:last-child{margin-bottom: 0;}
.responsive-header{display:block;}
header{display:none;}
body.move{margin-left:-200px;}
.all-services h2, .all-services p {margin: 0 0 30px;padding: 0;width: 100%;}
.service-grids .row > div {float: left;width: 50%;}
.reviews .nav {float: left;margin: 0 0 30px; width: 100%;}
.reviews .nav li {margin: 0 20px;}
.reviews .tab-content {width: 100%;}
.fun-facts .row > div {float: left;width: 50%;}
.latest-news > div {
    float: left;
    width: 100%;
}.widget.full-bg {margin: 0;}
.white-boxed {padding: 40px;}
.experience-title:after{display: none;}
.experience-bar ul {padding: 30px 0;}
.review-detail {text-align: center;}
.review-detail .theme-btn {display: inline-block; float: none;}
.responsive-header .header-info, 
.responsive-header .header-btn {max-width: none;padding: 10px 0;text-align: center;width: 100%;}
.responsive-header .header-btn a {display: inline-block;float: none;}
.all-services h2 {font-size: 30px;line-height: 40px;margin-bottom: 16px;}
.review-detail strong {font-size: 20px;line-height: 25px;}
.badge-title > h2 {font-size: 30px;}
.badge-title i {font-size: 24px;margin-bottom: 10px;}
.badge-title > span {font-size: 15px;}
.counter > strong {font-size: 30px;line-height: 30px;}
.counter > span {font-size: 15px;}
.attorney > h4 {font-size: 16px;}
.attorney > span {font-size: 12px;}
.attorney-img {margin-top: 10px;}
.side-title > h2 {font-size: 20px;margin-bottom: 5px;}
.side-title > span {font-size: 14px;}
.half-box {padding: 30px 15px;}
.news h3 {font-size: 17px;}
.contact-info h6 {font-size: 20px;line-height: 30px;margin-bottom: 20px;}
.contact-info > strong {font-size: 20px;line-height: 20px;}
.contact-info > span {font-size: 13px;padding: 25px;width: 100%;letter-spacing: 0.5px;}
.attorney-img > a {float: left;font-size: 15px;left: 0;padding: 15px 10px;position: relative;top: 0;transform: translateX(0px);width: 100%;}
.theme-tabs .nav li {margin-bottom: 10px;width: 100%;}
.theme-tabs .nav {float: left;padding: 0;position: relative;top: 0 !important;width: 100%;}
.theme-tabs .tab-content {float: left;width: 100%;}
.tab-img {margin-bottom: 30px;margin-top: 0;}
.parallax-title2 h2 {font-size: 25px;margin-bottom: 5px;}
.parallax-title2 span {font-size: 13px;line-height: 20px;}
.single-attorney-img {width: 100%;}
.single-attorney-detail {width: 100%;}
.option-combo ul li {float: left;margin: 0 0 10px;padding: 0 10px;width: 50%;}
.option-combo ul li a {width: 100%;}
.case-studies > div {
    float: left;
    width: 100%;
}
.simple-title > h2 {font-size: 25px;}
.contact-img {width: 50%;}
.contact-img img {width: 100%;}
.contact-form .row > div {float: left;width: 100%;}
.get-consultation {float: left;margin-bottom: 40px;width: 100%;}
.laws .row > div {float: left;width: 50%;}
.single-attorney-detail {padding: 30px;}
.single-attorney-detail h5 {font-size: 20px;line-height: 20px;margin-bottom: 14px;}
.attorney-intro {bottom: 0;position: relative;}
.attorney-intro > h3 {float: left;font-size: 12px;text-align: left;width: 100%;}
.attorney-intro > h3 a {float: left;padding: 15px 30px;width: 100%;}
.attorney-intro > strong, .attorney-intro > span {float: left;font-size: 11px;padding: 10px 20px;text-align: left;width: 100%;}
.custom-content-text {padding-left: 50px;}
.custom-content-img {width: 50%;}
.custom-content-img img {width: 100%;}
.custom-content-text h4 {font-size: 20px;line-height: 28px;}
.service-grids.overlap {margin: 0;}
.custom-tabs .nav{padding:0;}
.custom-tabs .nav li {width: 50% !important;}
.custom-content-text {float: left;padding: 30px;width: 100%;}
.custom-content-img {float: left;width: 100%;}
.awards .row > div {float: left;width: 50%;}
.lawyer-image, .lawyer-detail {float: left;width: 100%;}
.comment > h3, .comment > p { float: left;width: 100%;}
.comment img {margin: 0;}
blockquote {font-size: 17px;line-height: 25px;padding-left: 30px;}
.lawyer-detail h2 {font-size: 24px;margin-bottom: 10px;}
.lawyer-detail > span {font-size: 13px;margin-bottom: 7px;}
.page-top {padding: 40px 0;}
.page-top h1 {font-size: 30px;letter-spacing: 0;margin-bottom: 20px;}
.career-img {float: left;width: 100%;}
.career-detial {float: left; padding: 30px 0;width: 100%;}
.attornies .owl-nav > div.owl-prev,.attornies .owl-nav > div.owl-next{margin:0;}
.tab-head-info > h3 {
    font-size: 18px;
    line-height: 30px;
}
.tab-head-info > ul > li {
    width: 100%;
}
.tab-head-info > ul > li a {
    text-align: center;
    width: 100%;
}
.team-circle-info {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    
    float: left;
    left: 0 !important;
    margin-top: 40px;
    position: relative;
    top: 0 !important;
    width: 100%;
}
.get-in-touch > form > div {
    padding-left: 20px;
}
.get-in-touch > form > div > input {
    width: 80%;
}
.awards > h4 {
    font-size: 22px;
    line-height: 35px;
}
.fancy-tabs-btns {
    padding: 0;
}
.consult-popup {
    margin-top: 40px;
    padding: 50px 20px;
    width: 98%;
}
.fixed-footer > .show-rights {
    width: 23px;
}
.fixed-bottom .logo {
    display: none;
}
.fixed-bottom nav {
    padding: 0;
    width: 100%;
}
.fixed-bottom nav ul li a {
    color: #fafafa;
    font-size: 9px;
    padding-left: 4px;
    padding-right: 15px;
}

}


@media (max-width:480px){
.fixed-footer footer span {
    font-size: 9px;
    line-height: 94px;
    min-height: 94px;
    padding: 0;
}    
.extras-slide {
    width: 360px !important;
}    
.subscribe-modal {
    padding: 35px 18px 25px;
}  
.subscribe-modal > h4 {
    font-size: 19px;
}
.subscribe-modal > form button {
    float: left;
    margin: 20px 0 0;
    position: static;
    width: 100%;
}
.subscribe-modal > form {
    padding: 15px;
}
.subscribe-modal > form > input {
    height: 34px;
    padding: 0;
}
.service-grids .row > div{width:100%;}	
.fun-facts .row > div{width:100%;}
.latest-news > div{width:100%;}
.nav > li > a > img {width: 70px;}
.experience-bar ul li{width:100%;}
.widget-post-detail {float: left;padding: 20px 0 0;width: 100%;}
.testimonials-carousel .owl-nav {padding: 0;}
.white-boxed { padding: 20px;}
.attorney > h4 {font-size: 13px;}
.attorney > h4 i {font-size: 10px;}
.case-studies > div {width:100%;}
.option-combo ul li {width:100%;}
.attorney-fancy-img img { width: 150px;}
.attorney-fancy-img {top: -75px;}
.attorney-fancy {margin-top: 75px;padding-top: 95px;}
.attorney-fancy > h4 {font-size: 16px;line-height: 25px;}
.attorney-fancy > h4 i {font-size: 12px;}
.attorney-fancy .social-icons a {height: 35px;line-height: 28px;margin-right: 0;width: 35px;}
.attorney-fancy .social-icons {margin-bottom: -10px;}
.laws .row > div {float: left;width:100%;}
.consultation .nav li{width:100%;}
.basic-info {padding: 20px 10px;width: 130px;}
.basic-info > span {font-size: 12px;line-height: 20px;}
.custom-tabs .nav li{width:100%!important;}
.awards .row > div {width: 100%;}

}
